.main-header .logo {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  left: 0;
  text-align: right;
}

.main-header .sidebar-toggle {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #367fa9;
}

